<div class="content">
	<div id="contact">
		<h2>Tech Masters Executive Board</h2>
		<h3>Master scheduler and HFC Liaison: <span>Patti Christie</span></h3>
		<h3>President: <span>Joe Jacobwitz</span></h3>
		<h3>Treasurer: <span>Diana Manzanedo</span></h3>
		<h3>Graduate Student Liason: <span></span></h3>
		<h3>Undergraduate Student Liason: <span>Carson Tucker</span></h3>
		<h3>Webmaster: <span>John Kelleher</span></h3>
		<h3>Members at large: <span>Jenny Rood, Tim Xu, Jenny Burgos</span></h3>

		<b>Contact Us At: </b><span>tech.masters.swimming@gmail.com</span>
	</div>
</div>
