<div class="content">
	<div id="contact">
		<h2>Tech Masters Executive Board</h2>
		<h3>Clerk and Champion: <span>Patti Christie</span></h3>
		<h3>President: <span>Sebastian Neumayer</span></h3>
		<h3>Treasurer: <span>Diana Manzanedo</span></h3>
		<h3>Graduate Student Liason: <span>Leah Mendelson</span></h3>
		<h3>Social Chair: <span>John Kelleher</span></h3>

		<b>Contact Us At: </b><span>patti@mit.edu</span>
	</div>
</div>
