<div class="content">
    <div id="faq">
        <h2>Tech Masters FAQ (Frequently Asked Questions)</h2>
        
        <h3>When are your workouts?</h3>
        Our workouts are
        <ul>
          <li>weekdays in the morning from 6:15 to 7:30 am </li>
          <li>Monday, Wednesday and Friday at lunch from noon to 1:15 pm </li>
          <li>Monday through Thursday evenings from 7:15 to 8:30 pm - Friday evening workouts start again October 23rd</li>
          <li>Sunday from 10:00 am to 11:15 am</li>
          <li>Check out the <a href="/">homepage</a> for updated schedules</li>
        </ul>
        
        <h3>How much does it cost to join?</h3>
          The cost is calcuated for each semester, depening on the number of workouts
          and number of people swimming. Everyone who swims with Tech Masters swimming
          must have an active athletic card. Go to the <a target="_blank" href="http://www.mitrecsports.com/index.php/member-services/membership-registration/pricing">athletic
          page</a> for details about that. The Tech masters swimming fee covers the coache/lane rental
          fee only.

        <h3>Do you have a coach?</h3>
        <p>All of the scheduled workouts do have a coach</p>

        <h3>How long is the pool?Is it meters or yards?</h3>
        <p>The pool is generally set up as a 25 yard pool except for January and May to mid August when it is set up as a 50 M pool.</p>

        <h3 id='visiting'>I am visiting from out of town, can I join you for a practice?</h3>
          Yes, you are welcome to drop in. You will need to purchase a daily pass to the MIT gym. That will be $8 for a student, $15 non-student and you will need to present a form of ID- student or other. You can purchase the daily pass at the main desk in the Z Center. Email Coach Bill at <a href="mailto:bpaine@mit.edu">bpaine@mit.edu</a>, so he knows to expect you.

        <h3>How many sessions do you have per year?</h3>
          We run three sessions a year that are set by the MIT academic calendar:
          <ul>
            <li>Winter session – January to end of May- long course in January and May, short course the rest</li>
            <li>Summer session – June to Labor day (beginning of September) - all long course</li>
            <li>Fall Session – September to mid December - all short course</li>
          </ul>
          
        <h3>Is the pool short course or long course?</h3>
          Mostly Short Course, but configured to Long Course between late December and early January and from early May through mid-August.

        <h3>I used to swim alot but haven't been in a pool in ages. Can I
        join?</h3>
        While we at MIT Masters don't compete as a group, we do have swimmers in
        our group who compete on their own. However, many of our group swim for
        fun and fitness.
        <br>
          The minimum requirements exist for our group (they may be waived with good cause,
          <a href="mailto:patti@mit.edu">contact Patti</a> for more information):<br>
        <ul>
          <li>Have working knowledge of all four strokes (freestyle, backstroke, butterfly
            and breaststroke)
          <li>Be able to swim 500 yards without stopping
          <li>Know what interval you would do 100 yard sets.
        </ul>
        <p> You should feel comfortable with timing yourself on a pace clock (we can teach
          you this if this is all you're missing).
        <p><p>
        
        <h3>Do you have a waiting list?</h3>
          We do not currently have a waiting list.
        <h3>Where else in the Boston area can I swim?</h3>
          Search for Boston on the US Masters Swimming <a target="_blank"
        href="http://www.usms.org/placswim/mapsearch.php?action=f2&dist=25&address=&city=Boston&state=MA&units=mi">search page</a>.
        </br>
        </br>
        <p> <small>Send suggestions of "FAQs" to <a
        href="mailto:patti@mit.edu">patti</a>. </small>
    </div>
</div>
