<div class="content">
	<div id="announcements">
		<u><h3>Announcements</h3></u>
		<i><p>The winter schedule is now posted.</p></i>
		<p>For the winter session:</p>
		<ul>
			<li>By TBA - non-students TBA and students TBA</li>
	        <li>Late (paying TBA - TBA) - non-students TBA and students TBA</li>
	        <li>To pay for this term <a href="/pay">click here</a></li>
	    </ul>
	    <p>For highlights for each month and a detailed schedule see the <a href="/schedule">schedule page</a>.</p>
	</div>
	<div class="swimmer-gifs-1"></div>
	<div id="general-info">
		<u><h3>About Team</h3></u>
		<p>Tech Masters is open to all and accepting new members!</p>
		<p>Swimming with Tech Masters requires a membership with the MIT gym.  See pricing <a target="_blank" href="http://www.mitrecsports.com/visit/day-and-temporary-passes/">here</a>.  This membership will not only give you access to the pool and towel service, but also access to weight rooms, basketball courts, and sailing!</p>
		<p>Tech Masters typically runs practices in the mornings and evenings M-F, during lunch M,W,F, and once on the weekends.  See the <a href="/schedule">schedule</a> page for more details.</p>
		<p>Tech Masters Swimming is an independent swim team for adults that trains at the <a target="_blank" href="http://www.mitrecsports.com/index.php/aquatics/pool-schedule-a-rentals">MIT pool</a>, a 50 meters by 25 yards dream at the <a target="_blank" href="http://www.mitrecsports.com/">Zesiger Center</a>. Coach Bill Paine heads our practices and we have a roster of approximately 100 members composed of a wide range of characters: age varies from 18 to 70+, college/graduate students, alumni, professors, local professionals and more. Our club is made up mainly of three categories of swimmers: competitive masters swimmers, triathletes and fitness swimmers. We are friendly and welcoming to swimming enthusiasts.</p>
		<div class="team-pic"><%= image_tag "swim_team_pic_2015.jpeg" %></div>
	</div>
	<div class="swimmer-gifs-2"></div>
	<div id="about-team">
		<!-- <div>Our facility . .</div> -->
		<u><h3>The Facility</h3></u>
		<div class="stretchy-container">
			<div>
				<p>Building W35</br>
				120 Vassar St.</br>
				Cambridge, MA 02139</br>
				(See <a href="https://whereis.mit.edu" target="_blank">map of MIT</a>)</p>
			</div>
			<div class="stretchy-wrapper">
				<iframe src="//www.youtube.com/embed/As2m3YxwtEE?rel=0" frameborder="0" allowfullscreen></iframe>
				<!-- width="560" height="315" -->
			</div>
		</div>
	</div>
</div>
