<div class="content">
	<div id="announcements">
		<i><p>The fall schedule is ready to go!</p></i>
		<p>Fall session starts on Tuesday September 2 and runs until end of December. </p>
		<p>For the Fall session:</p>
		<ul>
	        <li>Early bird (pay by September 15th) - students $75 and non students $135		 </li>
	        <li>Late (paying after September 15th) - student $90 then non students $150 </li>
	        <li>For current members, if you have not made arrangements to pay by the end of September you will not be allowed to swim with us.</li>
	    </ul>
	</div>

	<div id="general-info">
		<p>Tech Masters is open to all and accepting new members!</p>
		<p>Swimming with Tech Masters requires a membership with the MIT gym.  See pricing <a target="_blank" href="http://www.mitrecsports.com/index.php/member-services/membership-registration/pricing">here</a>.  This membership will not only give you access to the pool and towel service, but also access to weight rooms, basketball courts, and sailing!</p>
		<p>Tech Masters typically runs practices in the mornings and evenings M-F, during lunch M,W,F, and once on the weekends.  See the <a href="/schedule">schedule</a> page for more details.</p>
	</div>

	<div id="about-team">

	</div>
</div>


<!-- General Info -->
	<!-- About team -->
<!-- Schedule -->
