<div class="content">
	<div id="announcements">
		<u><h3>Announcements</h3></u>
		<i><p>The winter/spring schedule is underway.</p></i>
		<p>Winter/spring session started on Sunday January 4th and goes until Sunday June 1st.</p>
		<p>For the winter/spring session:</p>
		<ul>
	        <li>Late (paying after January 15th) - student $120 then non students $195</li>
	        <li>For current members, if you have not made arrangements to pay by the end of January you will not be allowed to swim with us.</li>
	        <li>To pay for this term <a href="/pay">click here</a></li>
	    </ul>
	    <i><p>Annual Massachusetts Breast Cancer Coalition (MBCC) event</p></i>
	    <p><b>Against the Tide</b> is an annual statewide family-friendly fundraising event to benefit the Massachusetts Breast Cancer Coalition (MBCC).  MBCC is the state’s leading breast cancer non-profit and the only organization focused on preventing environmental causes of breast cancer.  There are two <b>Against the Tide events</b>, one in Hopkinton and one in Brewster. The <b>Hopkinton Against the Tide</b> will take place at DCR’s Hopkinton State Park on <b>Saturday, June 20th, from 7:00am until 1:00pm</b>. The <b>Brewster Against the Tide</b> will take place at DCR’s Nickerson State Park on <b>Saturday, August 15th, from 7:00am until 1:00pm</b>. The event consists of several different activities from which to choose: a 1-mile swim - competitive or recreational, a 2-mile kayak, a 3-mile walk, a 5K run, and a 10K run. There is also an Aquathon consisting of a competitive 1-mile swim and your choice of a competitive 5K or 10K run. The first activity starts at 8:30am. Please visit <a href="http://www.mbcc.org/swim" target="_blank">www.mbcc.org/swim</a> or call 800-649-MBCC for more information and to register.</p>
	</div>
	<div class="swimmer-gifs-1"></div>
	<div id="general-info">
		<u><h3>About Team</h3></u>
		<p>Tech Masters is open to all and accepting new members!</p>
		<p>Swimming with Tech Masters requires a membership with the MIT gym.  See pricing <a target="_blank" href="http://www.mitrecsports.com/index.php/member-services/membership-registration/pricing">here</a>.  This membership will not only give you access to the pool and towel service, but also access to weight rooms, basketball courts, and sailing!</p>
		<p>Tech Masters typically runs practices in the mornings and evenings M-F, during lunch M,W,F, and once on the weekends.  See the <a href="/schedule">schedule</a> page for more details.</p>
		<p>Tech Masters Swimming is an independent swim team for adults that trains at the <a target="_blank" href="http://www.mitrecsports.com/index.php/aquatics/pool-schedule-a-rentals">MIT pool</a>, a 50 meters by 25 yards dream at the <a target="_blank" href="http://www.mitrecsports.com/">Zesiger Center</a>. Coach Bill Paine heads our practices and we have a roster of approximately 100 members composed of a wide range of characters: age varies from 18 to 70+, college/graduate students, alumni, professors, local professionals and more. Our club is made up mainly of three categories of swimmers: competitive masters swimmers, triathletes and fitness swimmers. We are friendly and welcoming to swimming enthusiasts.</p>
	</div>
	<div class="swimmer-gifs-2"></div>
	<div id="about-team">
		<!-- <div>Our facility . .</div> -->
		<u><h3>The Facility</h3></u>
		<div class="stretchy-container">
			<div class="stretchy-wrapper">
				<iframe src="//www.youtube.com/embed/As2m3YxwtEE?rel=0" frameborder="0" allowfullscreen></iframe>
				<!-- width="560" height="315" -->
			</div>
		</div>
	</div>
</div>
