<div class="content">
	<div class="schedule-white">
		<p><a name="june" id="june"></a>June workout details <a href="/June.2017.workouts.pdf">(pdf)</a></p>
		<ol>
	    	<li>Commencement is on Friday June 9th - pool does not open until 11 am - so no morning workout</li>
	    	<li>Due to summer hours, we are holding our weekend workout on Saturday at 9:15 am instead of Sunday.</li>
	    	<li>There are no Friday night workouts during the summer starting Friday June 16th</li>
	        <li>Swim meet on Saturday June 17th - so no workout</li>
        </ol>
	</div>
	<div class="swimmer-gifs-1"></div>
	<div class="schedule-white">
		<p><a name="july" id="july"></a>July workout details <a href="/July.2017.workouts.pdf">(pdf)</a></p>
		<ol>
			<li>Pool closed on Tuesday July 4th</li>
			<li>Swim meet on Weekend of July 8th to 9th - no Saturday workout</li>
			<li>Swim meet the weekend of July 29th and 30th - no workouts</li>
		</ol>
	</div>
	<div class="swimmer-gifs-2"></div>
	<div class="schedule-white">
		<p><a name="august" id="august"></a>August workout details <a href="/August.2017.workouts.pdf">(pdf)</a></p>
		<ol>
			<li>Move to short course for August 11th after noon workout</li>
			<li>No workouts on Monday Sept 4th - MIT holiday. We start the Fall session on Tuesday September 5th</li>
		</ol>
	</div>
</div>
