<div class="content">
	<div class="schedule-white">
		<p><a name="september" id="september"></a>September workout details <a href="/September.2015.Tech.Masters.pdf">(pdf)</a></p>
		<ol>
	        <li>There are no workouts on Monday September 7th due to MIT holiday</li>
	        <li>There is an extra noon Workout on Tuesday September 8th</li>
	        <li>We start up the Friday night workouts on Friday October 2nd</li>
        </ol>
	</div>
	<div class="swimmer-gifs-1"></div>
	<div class="schedule-white">
		<p><a name="october" id="october"></a>October workout details <a href="/October.2015.Tech.masters.pdf">(pdf)</a></p>
		<ol>
	        <li>No workouts on Monday October 12th due to MIT holiday but we have added an extra noon workout on Tuesday October 13th</li>
	        <li>No workout on Tuesday October 13th in the evening, due to carsity water polo match</li>
	        <li>No workout on Sunday November 1st due to varsity water polo match</li>
        </ol>
	</div>
	<div class="swimmer-gifs-2"></div>
	<div class="schedule-white">
		<p><a name="november" id="november"></a>November workout details <a href="/November.2015.Tech.masters.pdf">(pdf)</a></p>
		<ol>
	        <li>There is no workout on Sunday November 1st due to Varsity water polo match</li>
	        <li>There are no workouts on Wednesday November 11th due to MIT holiday</li>
	        <li>No morning workout on Wednesday November 25th due to Varsity swim workout</li>
	        <li>Due to Turkey weekend - no workouts on Thursday Nov. 26, or Friday Nov. 27th, bu we will have a workout on Sunday Nov. 29th</li>
        </ol>
	</div>
	<div class="swimmer-gifs-1"></div>
	<div class="schedule-white">
		<p><a name="december" id="december"></a>December workout details <a href="/december.2015.Tech.masters.pdf">(pdf)</a></p>
		<ol>
	        <li>There is a varsity swim meet starting in the evening of Friday Dec. 4th, so there are no workouts in the PM of Friday Dec. 4th and no workout on Sunday December. 6th</li>
	        <li>There is a big age group swim meet Dec.10th through 13th, so we have only am workouts on Thursday Dec. 10th and Friday Dec. 11th. No other workouts</li>
	        <li>Shutdown is scheduled from Dec. 14 th to 18th - no workouts</li>
	        <li>We will have workouts on Sunday December 20th, Monday Dec. 21st, Tuesday December 22nd and for Wednesday December 23rd (am and noon only). We will take a break from workouts starting at on Dec. 24th and resume them on Sunday January 3rd when the Winter session starts!</li>
        </ol>
	</div>
</div>
