<div class="content">
	<div class="schedule-white">
		<p><a name="september" id="september"></a>September workout details <a href="/September.2019.workouts.pdf">(pdf)</a></p>
		<ol>
			<li>Fall Season starts on Tuesday September 3rd</li>
			<li>There are no Friday night workouts for the beginning part of the month of September. They start on September 27th.</li>
			<li>No workouts on Sunday September 15th due to Varisty polo workout</li>
			<li>Starting on Thursday September 26th there will be no morning workout due to Varsity workout. The no Thursday morning workout will continue for the entire fall schedule</li>
			<li>No workouts on Sunday September 29th due to Varsity Water polo workout</li>
        </ol>
	</div>
	<div class="swimmer-gifs-1"></div>
	<div class="schedule-tan">
		<p><a name="october" id="october"></a>October workout details <a href="/October.2019.workouts.pdf">(pdf)</a></p>
		<ol>
			<li>No Thursday am workouts due to Varsity workouts continue through the month of October</li>
			<li>No workouts on Sunday October 13th due to Varsity polo match</li>
			<li>No workouts on Monday October 14th due to MIT holiday - but there is an extra noon workout on Tuesday Oct. 15th</li>
		</ol>
	</div>
	<div class="swimmer-gifs-2"></div>
	<div class="schedule-white">
		<p><a name="november" id="november"></a>November workout details <a href="/November.2019.workouts.pdf">(pdf)</a></p>
		<ol>
			<li>No Thursday am workouts continue through the month of November</li>
			<li>No workout on Sunday November 3rd due to a polo match</li>
			<li>No workouts on Monday November 11th due to MIT holiday - we have added a Tuesday noon workout on the 12th</li>
			<li>No workout on Sunday November 17th due to Swim meet</li>
			<li>No workout on Friday Nov. 22nd am and noon, plus Sunday November 24th due to Varsity water polo match</li>
			<li>Thanksgiving break - no workout on Wednesday November 27th in the evening. No workouts on Thursday Nov. 28th, and Friday November 29th. We are in on Sun. Dec 1.</li>
		</ol>
	</div>
	<div class="swimmer-gifs-1"></div>
	<div class="schedule-tan">
		<p><a name="december" id="december"></a>December workout details <a href="/December.2019.workouts.pdf">(pdf)</a></p>
		<ol>
			<li>No Thursday morning workouts continue through the month of December</li>
			<li>There is a Varsity Swim Meet the weekend of December 7th - no Friday December 6th night workout, and no workout Sunday December 8th</li>
			<li>There is a Age goup Swim Meet from Dec. 12th to 15th- Thursday Dec. 12th, no night workout, Friday December 13th no noon or night workout, and no workout Sunday December 15th</li>
			<li>Z-center Pool shutdown starts on Monday December 15th and our program takes a break until January 2020.</li>
		</ol>
	</div>
	<div class="swimmer-gifs-2"></div>
