<div class="content">
	<div class="schedule-white">
		<p><a name="september" id="september"></a>September workout details <a href="/Sept.2016.workouts.pdf">(pdf)</a></p>
		<ol>
	        <li>Fall Season starts on Tuesday September 6th</li>
	        <li>There are no Friday night workouts for the month of September. They start in October.</li>
        </ol>
	</div>
	<div class="swimmer-gifs-1"></div>
	<div class="schedule-white">
		<p><a name="october" id="october"></a>October workout details <a href="/October.2016.workout.pdf">(pdf)</a></p>
		<ol>
	        <li>Friday night workouts come back on Friday October 7th</li>
	        <li>No workouts on Monday October 10th due to MIT holiday - but there is an extra noon workout on Tuesday Oct. 11th</li>
        </ol>
	</div>
	<div class="swimmer-gifs-2"></div>
	<div class="schedule-white">
		<p><a name="november" id="november"></a>November workout details <a href="/November.2016.workout.pdf">(pdf)</a></p>
		<ol>
	        <li>No workout on Sunday November 6th due to Varisity Water Polo.</li>
	        <li>No workouts on Friday November 11th due to MIT holiday - there is an extra noon workout on Thursday November 10th.</li>
	        <li>No workouts on Thursday November 24th and Friday November 25th</li>
	        <li>There are no workouts on Friday December 2nd in the evening</li>
        </ol>
	</div>
	<div class="swimmer-gifs-1"></div>
	<div class="schedule-white">
		<p><a name="december" id="december"></a>December workout details <a href="/December.2016.workout.pdf">(pdf)</a></p>
		<ol>
	        <li>Varsity swim meet on Friday Dec. 2nd through 4th - no Fri. pm workout or Sunday workout</li>
	        <li>Annual Shutdown from Monday Dec. 12th to Friday Dec. 16th. - Z center pool shutdown.</li>
	        <li>Fall session ends Friday Dec. 23rd at noon. We start up again on Tuesday Juan 3rd.</li>
        </ol>
	</div>
</div>
