<div class="content">
	<ul>
		<li><b>Due to an evolving response to COVID-19, Tech Masters practices have been canceled from March 16 to May 15th</b></li>
    </ul>
	<div class="schedule-white">
		<p><a name="january" id="january"></a>January workout details <a href="/January.2020.workouts.pdf">(pdf)</a></p>
		<ol>
			<li>1/3 (Friday) - no noon workout since the pool is switching to short course</li>
			<li>1/5 - no Sunday workout due to swim meet</li>
			<li>1/20 (Monday) - MIT holiday - no workouts - but extra Tuesday(21) noon workout.</li>
			<li>1/26 (Sunday) - One hour swim - from 9:30 to 12 noon - 6 lanes</li>
			<li>NOTE: We have Thursday morning workouts back</li>
			<li>1/31 Friday Noon workout added back in</li>
        </ol>
	</div>
	<div class="swimmer-gifs-1"></div>
	<div class="schedule-tan">
		<p><a name="february" id="february"></a>February workout details <a href="/February.2020.workouts.pdf">(pdf)</a></p>
		<ol>
			<li>2/9 (Sunday) - no workout due to swim meet</li>
			<li>2/17 (Monday) - No workouts due to MIT holiday - there is an extra Tuesday noon (18) workout</li>
			<li>2/20 to 2/23 - NEWMACS (Varsity swim meet). Only Thursday Feb. 20 am workout - all others cancelled.</li>
		</ol>
	</div>
	<div class="swimmer-gifs-2"></div>
	<div class="schedule-white">
		<p><a name="march" id="march"></a>March workout details <a href="/March.2020.workouts.pdf">(pdf)</a></p>
		<ol>
			<li>3/20 - 3/22 -no Friday night workout or Sunday morning workout due to YMCA swim meet</li>
		</ol>
	</div>
	<div class="swimmer-gifs-1"></div>
	<div class="schedule-tan">
		<p><a name="april" id="april"></a>April workout details <a href="/April.2020.workouts.pdf">(pdf)</a></p>
		<ol>
			<li>4/20 (Monday) - no workouts due to MIT holiday - added an extra Tuesday noon workout (4/21)</li>
			<li>4/27 - move to long course right after morning workout.</li>
		</ol>
	</div>
	<div class="swimmer-gifs-2"></div>
	<div class="schedule-white">
		<p><a name="may" id="may"></a>May workout details <a href="/May.2020.workouts.pdf">(pdf)</a></p>
		<ol>
			<li>5/25 (Monday) - no workouts due to MIT holiday - added an extra Tuesday noon workout (4/21)</li>
			<li>5/29 (Friday) - no workouts in the morning due to MIT commencement. Pool opens at 11 am.</li>
		</ol>
	</div>
	<div class="swimmer-gifs-1"></div>