<div class="content">
	<div class="schedule-white">
		<p><a></a><a name="february"></a>February workout details <a href="/February2015.Tech.Masters.pdf">(pdf)</a></p>
		<ol>
	        <li>There is swim meet  on Feb 14th through 15th.</li>
	        <li>Monday February 16th is a MIT holiday - no workouts on that day - but we have added a noon workout on the Tuesday</li>
	        <li>There is a another Swim meet on Feb 25th to 28th - We only have AM workouts on Wednesday Feb. 25th, Thursday Feb. 26th and Friday Feb. 27th</li>
      </ol>
	</div>
	<div class="swimmer-gifs-1"></div>
	<div class="schedule-white">
		<p><a name="march" id="march"></a>March workout details <a href="/March2015.Tech.Masters.pdf">(pdf)</a></p>
		<ol>
	        <li>There is a swim meet on Sunday March 16th - so no Sunday workout</li>
	        <li>There is a swim meet on March 23rd - so no Sunday workout</li>
        </ol>
	</div>
	<div class="swimmer-gifs-2"></div>
	<div class="schedule-white">
		<p><a name="april" id="april"></a>April workout details <a href="/April.2015.Tech.Masters.pdf">(pdf)</a></p>
		<ol>
	        <li>On Monday April 20th, we don't have a workout due to Patriot's day (MIT holiday)</li>
	        <li>Extra noon workout on Tuesday April 21st</li>
        </ol>
	</div>
	<div class="swimmer-gifs-1"></div>
	<div class="schedule-white">
		<p><a name="may" id="may"></a>May (preliminary workout schedule – still needs to be confirmed)<a href="/May.2015.Tech.Masters.pdf">(pdf)</a></p>
		<ol>
	        <li>No workouts on Monday May 26th, Memorial day, but we still swim on the Sunday</li>
	        <li>We have added an extra noon workout on Tuesday May 27th</li>
	        <li>We start our summer schedule on Monday June 2nd</li>
        </ol>
	</div>
</div>
