<div class="content">
	<div class="schedule-white">
		<p><a name="january" id="january"></a>January workout details <a href="/January.2019.workouts.pdf">(pdf)</a></p>
		<ol>
			<li>1/6 - NSSC swim meet - no workout on Sunday</li>
			<li>1/18 - Varsity Swim Meet - no workout at noon</li>
			<li>1/21 - MIT holiday - no workouts - but extra Tuesday(22) noon
workout.</li>
			<li>1/25 Varsity swim meet - no workout at night</li>
        </ol>
	</div>
	<div class="swimmer-gifs-1"></div>
	<div class="schedule-tan">
		<p><a name="february" id="february"></a>February workout details <a href="/February.2019.workouts.pdf">(pdf)</a></p>
		<ol>
			<li>2/10 - MIAA Swim Meet - no Sunday morning workout</li>
			<li>2/18 - No workouts due to MIT holiday - there is an extra Tuesday noon (19)
workout</li>
			<li>2/21-2/24 - NEISDA Swim Meet - There is only a workout on Thursday Feb.</li>
			<li>21st and Friday Feb. 22nd in the am - all other workouts through sunday
cancelled due to swim meet.</li>
		</ol>
	</div>
	<div class="swimmer-gifs-2"></div>
	<div class="schedule-white">
		<p><a name="march" id="march"></a>March workout details <a href="/March.2019.workouts.pdf">(pdf)</a></p>
		<ol>
			<li>3/24 - YMCA Swim Meet - no Sunday morning workout</li>
		</ol>
	</div>
	<div class="swimmer-gifs-1"></div>
	<div class="schedule-tan">
		<p><a name="april" id="april"></a>April workout details <a href="/April.2019.workouts.pdf">(pdf)</a></p>
		<ol>
			<li>No changes to the April workout schedule, but looking forward, there is the changeover to LC on Monday 4/29/2019</li>
		</ol>
	</div>
	<div class="swimmer-gifs-2"></div>
	<div class="schedule-white">
		<p><a name="may" id="may"></a>May workout details <a href="/May.2019.workouts2.pdf">(pdf)</a></p>
		<ol>
			<li>No Friday night workout on Friday May 10th, Friday May 24th or Friday May 31st.</li>
			<li>No workout on Monday May 27th due to the MIT holiday - there is an extra Tuesday noon workout added on May 30th.</li>
		</ol>
	</div>
</div>
