<div class="content">
	<div class="schedule-white">
		<p><a name="september" id="september"></a>September workout details <a href="/September.2018.workouts.pdf">(pdf)</a></p>
		<ol>
			<li>Fall Season starts on Tuesday September 5th.</li>
			<li>There are no Friday night workouts for the beginning part of the month.</li>
        </ol>
	</div>
	<div class="swimmer-gifs-1"></div>
	<div class="schedule-tan">
		<p><a name="october" id="october"></a>October workout details <a href="/October.2018.workouts.pdf">(pdf)</a></p>
		<ol>
			<li>Friday night workouts come back on Friday October 5th.</li>
			<li>No workouts on Monday October 8th due to MIT holiday - but there is an extra noon workout on Tuesday Oct. 9th</li>
		</ol>
	</div>
	<div class="swimmer-gifs-2"></div>
	<div class="schedule-white">
		<p><a name="november" id="november"></a>November workout details <a href="/November.2018.workouts.pdf">(pdf)</a></p>
		<ol>
			<li>No workouts on Monday November 12th due to MIT holiday - there is an extra noon workout on Tuesday November 13th.</li>
			<li>No workouts on Thursday November 22nd and Friday November 23rd</li>
		</ol>
	</div>
	<div class="swimmer-gifs-1"></div>
	<div class="schedule-tan">
		<p><a name="december" id="december"></a>December workout details <a href="/December.2018.workouts.pdf">(pdf)</a></p>
		<ol>
			<li>Age group meet from Thursday Dec. 6th to Sunday Dec. 9th</li>
			<li>Annual Shutdown from Monday Dec. 17th to Friday Dec. 21st. - Z center pool shutdown.</li>
			<li>Fall session ends Sunday Dec. 17th. We start up again on Wednesday Jan 2nd</li>
		</ol>
	</div>
