<div class="content">
	<div class="schedule-white">
		<p><a name="june" id="june"></a>June workout details <a href="/June.2019.workouts.pdf">(pdf)</a></p>
		<ol>
			<li>Commencement is on Friday June 7th - pool does not open until 11 am - so no morning workout</li>
			<li>Due new Sunday hours - we have a Sunday workout throughout the summer but it starts at 9:15 am to 10:30 am:</li>
			<li>There are no Friday night workouts during the summer starting Friday June 14th</li>
        </ol>
	</div>
	<div class="swimmer-gifs-1"></div>
	<div class="schedule-tan">
		<p><a name="july" id="july"></a>July workout details <a href="/July.2019.workouts.pdf">(pdf)</a></p>
		<ol>
			<li>Pool closed on Thursday July 4th</li>
			<li>swim meet July 5th to 7th - no Friday night workout or Sunday morning workout</li>
			<li>Sunday July 14th - no workout due to kid's triathlon - pool opens at 11 am</li>
		</ol>
	</div>
	<div class="swimmer-gifs-2"></div>
	<div class="schedule-white">
		<p><a name="august" id="august"></a>August workout details <a href="/August.2019.workouts.pdf">(pdf)</a></p>
		<ol>
			<li>no workout on Sunday August 4th due to swim meet</li>
			<li>Move to short course for August 9th after noon workout</li>
			<li>No workouts on Monday Sept 2nd - MIT holiday. We start the Fall session on Tuesday September 3rd</li>
		</ol>
	</div>
	<div class="swimmer-gifs-1"></div>
