<div class="content">
	<div class="schedule-tan">
		<p><a name="september" id="september"></a>September workout details (<a href="/September.2014.masters.workout.pdf">pdf)</a></p>
		<ol>
	        <li>There are no workouts on Monday September 1st due to MIT holiday</li>
	        <li>There is an extra noon Workout on Tuesday Sept 2nd</li>
	        <li>We start up the Friday night workouts on Friday Sept 26th</li>
        </ol>
	</div>
	<div class="schedule-white">
		<p><a></a><a name="october"></a>October   workout details (<a href="/October.2014.masters.workout.pdf">pdf)</a></p>
		<ol>
        <li>No workout on Monday October 13th due to MIT holiday but we have added an extra noon workout on Tuesday October 15th.			 </li>
        <li>No workout on Wednesday October 15th in the evening, due to varsity water polo match </li>
      </ol>
	</div>
	<div class="schedule-tan">
		<p><a name="november" id="november"></a>November workout details <a href="/November.2014.masters.workout.pdf">(pdf</a><a href="pdfs/August2014.workout.pdf">)</a></p>
		<ol>
        <li>There is no workout on Sunday November 9th due to Varsity water polo match			 </li>
        <li>There are no workouts on Tuesday November 11th  due to MIT holiday 			 </li>
        <li>Due to Turkey weekend - no workouts on Thursday Nov. 27, or Friday Nov. 28th, but we will have a workout on Sunday Nov. 30th </li>
        </ol>
	</div>
	<div class="schedule-white">
		<p><a name="december" id="April2"></a>December  workout details (<a href="/December.2014.masters.workout.pdf">pdf)</a></p>
		<ol>
        <li> The Friday December 5th, both noon and pm  workout is cancelled due to swim meet. There is also no workout on Sunday December 7th due to the swim meet			 </li>
        <li>There is a big age group swim meet Dec.11th through 14th, so we have only am workouts on Thursday Dec. 11th and Friday Dec. 12th. No other workouts			 			 </li>
        <li>Shutdown is scheduled from Dec. 15 th to 19th - no workouts			 </li>
        <li> We will have workouts on Sunday December 21st, Monday Dec. 22nd, Tuesday December 23rd and in the am of December 24th. We will take a break from workouts starting at noon on Dec. 24th and resume them on Sunday January 4th when the Winter session starts! </li>
      </ol>
	</div>
</div>
