<div class="content">
	<div class="schedule-white">
		<p><a name="june" id="june"></a>June workout details <a href="/June.2016.workout.pdf">(pdf)</a></p>
		<ol>
	        <li>There are no Friday night workouts during the summer starting Friday June 12th</li>
	        <li>Weekend of June 10th - 12th. Major swim meet - no Saturday workout - check DAPER website for pool availablility</li>
	        <li>The weekend workout will be on Saturday at 9:15 am through mid August</li>
	        <li>Pool closed Saturday July 2nd (tile repair) to Monday July 4th. Reopens on Tuesday July 5th</li>
        </ol>
	</div>
	<div class="swimmer-gifs-1"></div>
	<div class="schedule-white">
		<p><a name="july" id="july"></a>July workout details <a href="/July.2016.workout.pdf">(pdf)</a></p>
		<ol>
	        <li>Pool closed Saturday July 2nd (tile repair) to Monday July 4th. Reopens on Tuesday July 5th</li>
	        <li>There is a swim meet the weekend of July 9 to 10th</li>
	        <li>There is a swim meet the weekend of July 30 to 31st.</li>
        </ol>
	</div>
	<div class="swimmer-gifs-2"></div>
	<div class="schedule-white">
		<p><a name="august" id="august"></a>August workout details <a href="/August.2016.workout.pdf">(pdf)</a></p>
		<ol>
	        <li>Move to short course for August 12th after noon workout.</li>
	        <li>Sunday workouts return after move to short course - first Sunday workout on Sun. August 14th</li>
	        <li>No workouts on Monday Sept 5th - MIT holiday. We start the Fall session on Tuesday September 6th</li>
        </ol>
	</div>
</div>
