<div class="content">
	<div class="schedule-white">
		<p><a name="june" id="june"></a>June workout details <a href="/June.2018.workouts.pdf">(pdf)</a></p>
		<ol>
			<li>Commencement is on Friday June 8th - pool does not open until 11 am - so no morning workout</li>
			<li>Due new Sunday hours - we have a Sunday workout throughout the summer.</li>
			<li>There are no Friday night workouts during the summer starting Friday June 16th</li>
			<li>Swim meet on Sunday June 17th - so no workout</li>
        </ol>
	</div>
	<div class="swimmer-gifs-1"></div>
	<div class="schedule-tan">
		<p><a name="july" id="july"></a>July workout details <a href="/July.2018.workouts.pdf">(pdf)</a></p>
		<ol>
			<li></li>
			<li></li>
			<li></li>
		</ol>
	</div>
	<div class="swimmer-gifs-2"></div>
	<div class="schedule-white">
		<p><a name="august" id="august"></a>August workout details <a href="/August.2018.workouts.pdf">(pdf)</a></p>
		<ol>
			<li>Move to short course for August 10th after noon workout</li>
			<li>No workouts on Monday Sept 3th - MIT holiday. We start the Fall session on Tuesday September 4th</li>
		</ol>
	</div>
