<div class="content">
	<div class="schedule-white">
		<p><a name="may" id="may"></a>May (preliminary workout schedule – still needs to be confirmed)<a href="/May.2015.Tech.Masters.pdf">(pdf)</a></p>
		<ol>
	        <li>No workouts on Monday May 26th, Memorial day, but we still swim on the Sunday</li>
	        <li>We have added an extra noon workout on Tuesday May 27th</li>
	        <li>We start our summer schedule on Monday June 2nd</li>
        </ol>
	</div>
	<div class="swimmer-gifs-1"></div>
	<div class="schedule-white">
		<p><a name="june" id="june"></a>June workout details <a href="/June2015.Tech.masters.workout.pdf">(pdf)</a></p>
		<ol>
	        <li>Due to Commencement on Friday June 5th No am workout. Facilities open up at 11 am.</li>
	        <li>There are no Friday night workouts during the summer starting Friday June 12th</li>
	        <li>Weekend of June 12th - 14th. Major swim meet - no Saturday workout - check DAPER website for pool availablility</li>
	        <li>There are no weekend workouts during the June to August session this year.</li>
        </ol>
	</div>
	<div class="swimmer-gifs-2"></div>
	<div class="schedule-white">
		<p><a name="july" id="july"></a>July workout details <a href="/July.2015.Tech.masters.workout.pdf">(pdf)</a></p>
		<ol>
	        <li>Pool closed Friday July 3rd and reopens on Sunday July 5th</li>
        </ol>
	</div>
	<div class="swimmer-gifs-1"></div>
	<div class="schedule-white">
		<p><a name="august" id="august"></a>August workout details <a href="/August.2015.Tech.masters.workout.pdf">(pdf)</a></p>
		<ol>
	        <li>Move to short course for August 14th noon workout.</li>
	        <li>No workouts on Monday Sept 7th - MIT holiday. We start the Fall session on Tuesday September 8th</li>
        </ol>
	</div>
</div>
