<div class="content">
	<div class="schedule-white">
		<p><a name="january" id="january"></a>January workout details <a href="/January.2016.workout.pdf">(pdf)</a></p>
		<ol>
	        <li>Winter workout starts on Sunday January 3rd</li>
	        <li>We are set up long course until Thursday Jan 7th (am)</li>
	        <li>There are no workouts on Monday January 18th due to Martin
Luther King day - it is a MIT holiday</li>
	        <li>We have added a noon workout on Tuesday January 19th</li>
	        <li>One hour swim happens on Sunday January 31st from 9:30 am
to noon</li>
        </ol>
	</div>
	<div class="swimmer-gifs-1"></div>
	<div class="schedule-white">
	</div>
	<div class="swimmer-gifs-2"></div>
	<div class="schedule-white">
	</div>
	<div class="swimmer-gifs-1"></div>
	<div class="schedule-white">
	</div>
</div>
