<div class="content">
	<div class="schedule-white">
		<p><a name="september" id="september"></a>September workout details <a href="/September.2017.workouts.pdf">(pdf)</a></p>
		<ol>
	    	<li>Fall Season starts on Tuesday September 5th</li>
	    	<li>There are no Friday night workouts for the beginning part of the month of September. They start in september 29th.</li>
        </ol>
	</div>
	<div class="swimmer-gifs-1"></div>
	<div class="schedule-white">
		<p><a name="october" id="october"></a>October workout details <a href="/October.2017.workouts.pdf">(pdf)</a></p>
		<ol>
			<li>Friday night workouts come back on Friday October 6th</li>
			<li>No workouts on Monday October 9th due to MIT holiday - but there is an extra noon workout on Tuesday Oct. 10th</li>
		</ol>
	</div>
	<div class="swimmer-gifs-2"></div>
	<div class="schedule-white">
		<p><a name="november" id="november"></a>November workout details <a href="/November.2017.workouts.pdf">(pdf)</a></p>
		<ol>
			<li>No workouts on Friday November 10th due to MIT holiday - there is an extra noon workout on Thursday November 10th.</li>
			<li>No workouts on Thursday November 23rd and Friday November 24th</li>
		</ol>
	</div>
	<div class="swimmer-gifs-1"></div>
	<div class="schedule-white">
		<p><a name="december" id="december"></a>December workout details <a href="/December.2017.workouts.pdf">(pdf)</a></p>
		<ol>
			<li>Age group meet from Thursday Dec. 7th to Sunday Dec. 10th - only Thursdayand Friday am workout.</li>
			<li>Annual Shutdown from Monday Dec. 18th to Friday Dec. 22nd. - Z center pool shutdown.</li>
			<li>Fall session ends Sunday Dec. 17th. We start up again on Tuesday Jan 2nd</li>
		</ol>
	</div>
</div>
