body {
	font-family: 'Open Sans', sans-serif;
	margin: 0px;
	padding: 0px;
}

h1, h2, h3 {
	font-family: 'Hammersmith One', sans-serif;
}

header {
	font-family: 'Hammersmith One', sans-serif;
	padding: .5em;
	text-shadow: 1px 0px 2px rgba(255, 245, 119, 0.75);
	text-align: center;
	font-size: 40px;
	background: aliceblue;
}

header a {
	text-decoration: none;
	color: rgb(122, 131, 233);
}

footer {
	height: 40px;
	background: rgb(56, 59, 53);
}

nav {
	text-align: center;
}

nav ul {
	list-style-type: none;
	margin: 0;
}

nav ul li {
	font-size: 24px;
	display: inline;
	margin: 8px 30px 8px 30px;
}

nav a {
	color: rgb(248, 178, 83);
}

.form-content {
	margin: 80px;
}

label {
	display: block;
}

textarea {
	width: 60%;
	border-radius: 5px;
	font-size: 16px;
	margin: 12px 0;
}

.content {
	color: rgb(81, 82, 83);
	font-size: 22px;
	font-weight: 500;
}

#announcements {
	padding-right: 70px;
	padding-left: 70px;
}

#general-info {
	background: white;
	padding: 20px 70px 20px 70px;
}

#about-team {
	background: white;
	padding: 20px 70px 20px 70px;
}

.schedule-tan {
	background: tan;
	padding: 20px 70px 20px 70px;
}

.schedule-white {
	background: white;
	padding: 20px 70px 20px 70px;
}

.stretchy-container {
	max-width: 900px;
	margin: 0 auto;
}

div.stretchy-wrapper {
	width: 100%;
	padding-bottom: 56%;
	position: relative;
}

div.stretchy-wrapper > iframe {
    position: absolute;
    width: 100%;
    height: 100%;
}

#faq {
	padding: 20px 70px 20px 70px;
}

.swimmer-gifs-1 {
	width: 100%;
	height: 100px;
	background-repeat: repeat-x;
	background-image: asset-url("swimmer1.gif", gif);
}

.swimmer-gifs-2 {
	width: 100%;
	height: 100px;
	background-repeat: repeat-x;
	background-image: asset-url("swimmer2.gif", gif);
}
