nav {
	text-align: center;
}

nav ul {
	list-style-type: none;
}

nav ul li {
	font-size: 24px;
	display: inline;
	margin: 8px 30px 8px 30px;
}

nav a {
	color: rgb(248, 178, 83);
}

body {
	font-family: 'Hammersmith One', sans-serif;
	margin: 0px;
	padding: 0px;
}

header {
	padding: .5em;
	color: rgb(122, 131, 233);
	text-shadow: 1px 0px 2px rgba(255, 245, 119, 0.75);
	text-align: center;
	font-size: 40px;
	background: aliceblue;
}

.content {
	/*text-align: center;*/
	color: rgb(81, 82, 83);
	font-size: 22px;
}

#announcements {
	padding-right: 70px;
	padding-left: 70px;
}

#general-info {
	background: tan;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-right: 70px;
	padding-left: 70px;
}
