<!DOCTYPE html>
<html>
<head>
  <title>Techmasters</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Hammersmith+One' rel='stylesheet' type='text/css'>
</head>
<body>

<header>Tech Masters Swimming</header>

<nav>
	<ul>
		<li><a href="/">Home</a></li>
		<li><a href="">Schedule</a></li>
		<li><a href="">Sign Up</a></li>
		<li><a href="">Pay</a></li>
		<li><a href="">About</a></li>
		<li><a href="/faq">FAQ</a></li>
	</ul>
</nav>

<%= yield %>

<footer></footer>

</body>
</html>
