<!DOCTYPE html>
<html>
<head>
  <title>Masters Swimming Cambridge MIT TechMasters</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!-- <link href='http://fonts.googleapis.com/css?family=Hammersmith+One' rel='stylesheet' type='text/css'> -->
  <link href='http://fonts.googleapis.com/css?family=Hammersmith+One|Open+Sans' rel='stylesheet' type='text/css'>
</head>
<body>

<header><a id="header-name" href="/">Tech Masters Swimming</a>

<nav>
	<ul>
		<li><a href="/">Home</a></li>
		<li><a href="/schedule">Schedule</a></li>
		<li><a href="/interested">Interested?</a></li>
		<li><a href="">Pay</a></li>
		<li><a href="/#general-info">About</a></li>
		<li><a href="/faq">FAQ</a></li>
	</ul>
</nav>
</header>

<%= yield %>

<footer></footer>

</body>
</html>
